main div > .item {
	border-top: 1px solid #D3D3D3;
}

main div > .item ~ .item {
	border-top: none;
}

.item {
	border-bottom: 1px solid #D3D3D3;
}

.item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item p {
	margin: 0;
}

.item a {
	color: var(--blue);
}

.item a:hover {
	color: var(--blue);
}

.items_img {
	height: 250px;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
}

.pages {
	font-size: 20px;
	font-style: italic;
	padding: 10px 10px;
	border-left: 5px solid var(--blue);
	margin: 3rem 0 3rem 0;
}


.pages a {
	color: var(--blue);
	text-decoration: none;
}

.pages a:hover {
	text-decoration: underline;
	color: var(--blue);
}

.pages p {
	display: inline-block;
	margin: 0;
}

.pages .back:after {
	content: " / "
}

.pages i {
	color: 	var(--blue);
}


.description {
	text-align: justify;
}

#edit a:hover {
	text-decoration: underline;
}

/* Styly pro pop-up okno */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
    border-radius: 8px;
}

#popup h2 {
	background: var(--blue);
	color: var(--white);
}

#popup .btn-primary {
	background: var(--blue);
	color: white;
	border-color: none;
}

#popup .btn-primary:hover {
	background: none;
	color: var(--blue);
	border-color: var(--blue);
}

#popup .btn-danger:hover {
	background: none;
	color: red;
	border-color: red;
}

.edit a:hover {
	text-decoration: underline;
}